<div class="edit-Plan-dialog">
    <mat-dialog-content class="mat-dialog-content">
        <div class="content">
            <div class="edit-header">
                <span>Edit Audit</span>
                <img src="../assets/images/Vector.png" alt="Edit" id="edit-icon" />
            </div>
            <div class="plan-id">
                <span>{{data.id}}</span>
            </div>
            <div class="form-container">
                <form [formGroup]="editPlanForm" (ngSubmit)="onSaveChanges()">
                    <div class="edit-section">
                        <div class="edit-fields">
                            <div class="left-section">
                                <div class="start-date-time">
                                    <input type="datetime-local" id="start-date-time" class="form-control" placeholder="Start Date"
                                        formControlName="startDateTimeValue" name="startDateTime" required />
                                </div>
                                <div class="audit-type">
                                    <input id="audit-type" class="audit-type-input" formControlName="auditTypeValue" placeholder="Audit Type"
                                        name="auditType" />
                                </div>
                                <div class="assignTo">
                                    <select id="assignTo" class="dropdown-select" formControlName="assignToValue"
                                        name="assignTo" required>
                                        <option value="" disabled selected>Assign To</option>
                                        <option *ngFor="let auditor of auditors" [value]="auditor.Name">
                                            {{ auditor.Name }}</option>
                                    </select>
                                </div>
                                <div class="city">
                                    <select id="city-name" class="dropdown-select" formControlName="cityNameValue"
                                        name="cityName" required>
                                        <option value="" disabled selected>City</option>
                                        <option *ngFor="let cityOption of cities" [value]="cityOption">
                                            {{ cityOption}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="right-section">
                                <div class="end-date-time">
                                    <input type="datetime-local" id="end-date-time" class="form-control" placeholder="End Date"
                                        formControlName="endDateTimeValue" name="endDateTime" required />
                                </div>
                                <div class="sub-audit-type">
                                    <input id="sub-audit-type" class="sub-audit-type-input" placeholder="Sub-Audit Type"
                                        formControlName="subAuditTypeValue" name="subAuditType" />
                                </div>
                                <div class="leadAuditor">
                                    <select id="leadAuditor" class="dropdown-select" formControlName="leadAuditorValue"
                                        name="leadAuditor" required>
                                        <option value="" disabled selected>Lead Auditor</option>
                                        <option *ngFor="let auditee of auditees" [value]="auditee.Name">
                                            {{ auditee.Name }}</option>
                                    </select>
                                </div>
                                <div class="country">
                                    <select id="country-name" class="dropdown-select" formControlName="countryNameValue"
                                        name="countryName" required>
                                        <option value="" disabled selected>Country</option>
                                        <option *ngFor="let countryOption of countries" [value]="countryOption">
                                            {{ countryOption }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="action-butons">
                            <button mat-dialog-close class="cancel"><span>Cancel</span></button>
                            <button class="save-changes"><span>Save Changes</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-dialog-content>
</div>