<div class="audit-perform">
    <div class="search-date-filter-section">
        <div class="audit-perform-search-bar">
            <input type="text" [(ngModel)]="searchQuery" placeholder="Search" (input)="onSearch()"
                class="audit-perform-search-input" />
            <button *ngIf="searchQuery" (click)="clearSearch()" class="clear-btn">
                &#10006;
            </button>
        </div>
        <div class="date-filter-and-reset">
            <div class="from-date">
                <mat-form-field appearance="fill" class="custom-date-picker">
                    <mat-label>From Date Range</mat-label>
                    <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromDate" (dateChange)="onDateChange()"
                        name="fromDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="to-date">
                <mat-form-field appearance="fill" class="custom-date-picker">
                    <mat-label>To Date Range</mat-label>
                    <input matInput [matDatepicker]="toPicker" [(ngModel)]="toDate" (dateChange)="onDateChange()"
                        name="toDate" [min]="fromDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                    <mat-datepicker #toPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="reset">
                <input type="reset" (click)="resetDateFilter(true)">
            </div>
        </div>
    </div>
    <div class="audit-info-label"><span>Audit Information</span></div>
    <div class="audit-perform-container-section" *ngIf="auditList?.length > 0">
        <div *ngFor="let auditPerformItem of auditList; let i = index">
            <div class="audit-perform-container">
                <div class="audit-perform-details">
                    <div class="plan-creation-id"><span>{{auditPerformItem.audit_title}}</span></div>
                    <div class="templates-location-details">
                        <div class="templates-details"
                            *ngIf="auditPerformItem.template[0] || auditPerformItem.function_template[0]">
                            <span>{{auditPerformItem.template[0]}}</span>
                            <span class="vertical-bar"
                                *ngIf="auditPerformItem.template[0] && auditPerformItem.function_template[0]">|</span>
                            <span>{{auditPerformItem.function_template[0]}}
                            </span>
                        </div>
                        <div class="location-details" *ngIf="auditPerformItem.country || auditPerformItem.city">
                            <span>{{auditPerformItem.city}}</span>
                            <span class="vertical-bar"
                                *ngIf="auditPerformItem.country && auditPerformItem.city">|</span>
                            <span>{{auditPerformItem.country}}</span>
                        </div>
                    </div>
                    <div class="duration-details">
                        <div class="date-details">
                            <span>{{auditPerformItem.start_date | date:'dd/MM/yyyy':'UTC'}}</span>
                            <span class="hyphen">-</span>
                            <span>{{auditPerformItem.end_date | date:'dd/MM/yyyy':'UTC'}}
                            </span>
                        </div>
                        <div class="time-details">
                            <span class="start-time">{{auditPerformItem.start_date | date:'hh:mm a':'UTC'}}</span>
                            <span class="end-time">{{auditPerformItem.end_date | date:'hh:mm a':'UTC'}}
                            </span>
                        </div>
                    </div>
                </div>
                <!-- <div class="audit-progress-details">
                     <div class="audit-progress-label">
                        <span>Audit Progress</span>
                    </div>
                    <div class="progress-percentage">
                        <div class="progress-bar">
                            <div class="progress-percent" [ngStyle]="{ 'width': auditPerformItem.percentage + '%' }">
                            </div>
                        </div>
                        <div class="percentage"><span>{{auditPerformItem.percentage}}%</span></div>
                    </div>
                    <div class="auditor-details">
                        <span>{{auditPerformItem.auditors[0]?.name}}</span>
                        <span class="vertical-bar">|</span>
                        <span>{{auditPerformItem.auditCompany}}</span>
                    </div>
                </div> -->
                <!-- <div class="delete-icon">
                    <svg width="22px" height="22px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path fill="none" d="M0 0h24v24H0z" />
                            <path
                                d="M7 4V2h10v2h5v2h-2v15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V6H2V4h5zM6 6v14h12V6H6zm3 3h2v8H9V9zm4 0h2v8h-2V9z" />
                        </g>
                    </svg>
                </div> -->
                <div class="audit-count" *ngIf="auditPerformItem.sub_audits.length>0"
                    (click)="openSubAudits(auditPerformItem.sub_audits,i)">
                    <span>{{auditPerformItem.sub_audits.length}}</span>
                </div>
            </div>
            <div *ngIf="auditPerformItem.sub_audits.length > 0 && auditPerformItem.isSubAuditsOpened">
                <div class="sub-audit" *ngFor="let sub_audit of auditPerformItem.sub_audits; let j = index">
                    <div class="tree-node">
                        <!-- <div class="line" [ngStyle]="{'height.px': sub_audit.lineHeight}"></div> -->
                        <div class="dot"></div>
                    </div>
                    <div class="sub-audit-perform-container" #detailsContent>
                        <div class="audit-perform-details">
                            <div class="plan-creation-id"><span>{{sub_audit.audit_title}}</span></div>
                            <div class="templates-location-details"
                                *ngIf="sub_audit.functions || sub_audit.country || sub_audit.city ">
                                <div class="templates-details" *ngIf="sub_audit.functions">
                                    <!-- <span>{{sub_audit.template[0]}}</span>
                            <span class="vertical-bar">|</span> -->
                                    <span>{{sub_audit.functions}}
                                    </span>
                                </div>
                                <div class="location-details" *ngIf="sub_audit.country || sub_audit.city">
                                    <span>{{sub_audit.city}}</span>
                                    <span class="vertical-bar" *ngIf="sub_audit.country && sub_audit.city">|</span>
                                    <span>{{sub_audit.country}}</span>
                                </div>
                            </div>
                            <div class="duration-details">
                                <div class="date-details">
                                    <span>{{sub_audit.start_date | date:'dd/MM/yyyy':'UTC'}}</span>
                                    <span class="hyphen">-</span>
                                    <span>{{sub_audit.end_date | date:'dd/MM/yyyy':'UTC'}}
                                    </span>
                                </div>
                                <div class="time-details">
                                    <span class="start-time">{{sub_audit.start_date | date:'hh:mm a':'UTC'}}</span>
                                    <span class="end-time">{{sub_audit.end_date | date:'hh:mm a':'UTC'}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="audit-progress-details">
                            <div class="audit-progress-label">
                                <span>Audit Progress</span>
                            </div>
                            <div class="progress-percentage">
                                <div class="progress-bar">
                                    <div class="progress-percent" *ngIf="sub_audit?.completion_percent != null"
                                        [ngStyle]="{ 'width': sub_audit.completion_percent + '%' }">
                                    </div>
                                </div>
                                <div class="percentage"><span>{{sub_audit.completion_percent}}%</span></div>
                            </div>
                            <div class="auditor-details" [matTooltip]="showAuditors(sub_audit.auditors)">
                                <span>{{showAuditors(sub_audit.auditors)}}</span>
                            </div>
                        </div>
                        <div class="auditees">
                            <label for="auditeeDropdown" class="auditee-label">Auditees</label>
                            <div class="dropbtn" [matTooltip]="selectedAuditeesOptions[j]"
                                (click)="auditeesToggleDropdown($event,j)">
                                <span>{{selectedAuditeesOptions[j]}}</span>
                            </div>
                            <div *ngIf="isAuditeesOptionsOpen[j]" class="dropdown-content" #auditeeDropdown>
                                <label *ngFor="let auditee of subAuditAuditees[j].auditees; let k = index"
                                    (click)="onCheckboxClick($event)">
                                    <input type="checkbox" [value]="auditee.Name" class="checkbox-input"
                                        (change)="onAuditeeSelectionChange($event,j,k,auditee)"
                                        [checked]="auditee.checked" />
                                    <span class="auditee-value">{{ auditee.Name }}</span>
                                </label>
                            </div>
                            <div class="dropdown-arrow">
                                <app-dropdown-arrow-icons
                                    [isOpen]="isAuditeesDropdownOpened[j]"></app-dropdown-arrow-icons>
                            </div>
                        </div>
                        <div class="svg-icon" [class.disabled]="isSvgDisabled" [matTooltip]="updateAuditee"
                            matTooltipPosition="above">
                            <svg width="20px" height="20px" viewBox="0 0 24 24"
                                id="meteor-icon-kit__regular-check-circle" fill="none"
                                xmlns="http://www.w3.org/2000/svg" (click)="updatePlanWithNewAssignee(auditPerformItem,sub_audit,j)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM7.70711 12.2929L10 14.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L10.7071 16.7071C10.3166 17.0976 9.68342 17.0976 9.29289 16.7071L6.29289 13.7071C5.90237 13.3166 5.90237 12.6834 6.29289 12.2929C6.68342 11.9024 7.31658 11.9024 7.70711 12.2929Z"
                                    fill="#1dd91d" />
                            </svg>
                        </div>
                    </div>
                    <div class="navigate-to-questions-svg" [routerLink]="[sub_audit.audit_id]"
                        [queryParams]="{parentAuditID: sub_audit.parentAuditID }">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.1094 0C18.7988 0 24.2188 5.41992 24.2188 12.1094C24.2188 18.7988 18.7988 24.2188 12.1094 24.2188C5.41992 24.2188 0 18.7988 0 12.1094C0 5.41992 5.41992 0 12.1094 0ZM6.44531 14.2578H12.1094V17.7197C12.1094 18.2422 12.7441 18.5059 13.1104 18.1348L18.6914 12.5244C18.9209 12.2949 18.9209 11.9287 18.6914 11.6992L13.1104 6.08398C12.7393 5.71289 12.1094 5.97656 12.1094 6.49902V9.96094H6.44531C6.12305 9.96094 5.85938 10.2246 5.85938 10.5469V13.6719C5.85938 13.9941 6.12305 14.2578 6.44531 14.2578Z"
                                fill="black" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="no-audit-data" *ngIf="auditList?.length === 0">
        <span>No audits are available.</span>
    </div>
</div>