<div class="password-update-dialog">
    <mat-dialog-content class="mat-dialog-content">
        <div class="content">
            <div class="update-password-header">
                <span>Update user password</span>
            </div>
            <div class="form-container">
                <form [formGroup]="updatePasswordForm" (ngSubmit)="onUserPasswordUpdation()" autocomplete="off">
                    <div class="update-user-password-section">
                        <div class="password-updation-fields">
                            <div class="email">
                                <label for="email">Email</label>
                                <span> : </span>
                                <input type="text" id="email" formControlName="emailValue" name="email" readonly />
                            </div>
                            <div class="old-password">
                                <label for="old-password">Old password<span class="asterisk"
                                        *ngIf="checkOldPasswordError()">*</span></label>
                                <span> : </span>
                                <input type="text" id="oldpassword" formControlName="oldPasswordValue"
                                    name="oldPassword" required (input)="onPasswordChange()" />
                                <p class="error" *ngIf="checkOldPasswordError()">
                                    *Please enter old password with min 4 valid characters.</p>
                                <p class="error" *ngIf="!isOldPwdMatched">*The password you entered does not matches
                                    with old password.</p>
                            </div>
                            <div class="new-password">
                                <label for="new-password">New password<span class="asterisk"
                                        *ngIf="checkNewPasswordError()">*</span></label>
                                <span> : </span>
                                <input type="text" id="new-password" formControlName="newPasswordValue"
                                    name="newPassword" required (input)="onPasswordChange()" />
                                <p class="error" *ngIf="checkNewPasswordError()">
                                    *Please enter new password with min 4 valid characters.</p>
                                <p class="error" *ngIf="isOldNewPwdMatched()">
                                    *Old and new passwords should not be same.</p>
                            </div>
                        </div>
                        <div class="action-butons">
                            <button mat-dialog-close class="cancel" (click)="onClose()">
                                <span>Cancel</span>
                            </button>
                            <button class="update-user-password" [disabled]="isOldNewPwdMatched()">
                                <span>Update</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-dialog-content>
</div>