<div class="plan-success-dialog">
    <mat-dialog-content class="mat-dialog-content">
        <div class="content">
            <div class="plan-id">
                <span>{{data.id}}</span>
            </div>
            <div class="success-message">
                <p>Audit created successfully</p>
                <!-- <p>Successfully</p> -->
            </div>
            <div class="like-icon">
                <img src="../assets/images/likeIcon.png" alt="Like" id="like-icon" />
            </div>
            <div class="done-button">
                <button mat-dialog-close>Done</button>
            </div>
        </div>
    </mat-dialog-content>
</div>