<div class="import-create-plan">
    <div class="header-section">
        <div class="header">
            <span>Import Audit Plan</span>
        </div>
        <div class="close-icon">
            <img src="../assets/images/close.png" alt="close" id="close-icon" />
        </div>
    </div>
    <mat-dialog-content class="import-dialog-content">
        <div class="import-steps">
        <div><span>Step 1: Download the template</span><button><span>Download Template</span></button></div>
        <div><span>Step 2: Fill the template with required questions according to the format</span></div>
        <div><span>Step 3: Upload the completed template</span><button>Upload Plan</button></div>
        <div><span>Step 4: Validate Uploaded template</span><button>Validate</button></div>
        <div><span>Step 5: Create Audit Plan</span><button>Create</button></div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>Done</button>
    </mat-dialog-actions>

</div>