<div class="row">
    <div class="header">
        <img src="../assets/images/audir_plus_logo.png" alt="Logo" id="audir-logo" />
    </div>
</div>
<div class="row container">
    <div class="col-1">
        <img class=" vetical-bar" src="../assets/images/login_rect.png" alt="Description of the image" />
    </div>
    <div class="col-7">
        <img class=" login-image" src="../assets/images/login_audit_image.png" alt="Description of the image" />
    </div>
    <div class="col-4 login-div">
        <p class="login-text">Log in</p>
        <div class="welcome-message">
            <p>Hello! Welcome Back, Please use</p>
            <p>the credentials provided to login.</p>
        </div>
        <input type="text" placeholder="Email" [(ngModel)]="email" name="email" />
        <br><br>
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password" />
        <br><br>
        <button class="rounded-button" (click)="onSubmit()">Let's Start!</button>
        <br><br>
        <p style="text-align: center;"><strong>Forgot Password?</strong> Please contact the administrator</p>
    </div>
</div>