<div class="notification-container">
    <div class="header">
      
      <h2>Notifications</h2>
      
    </div>
  
    <div class="notification-list">
      <div *ngFor="let note of notifications" (click)="updateNotification(note)" class="notification-item" [ngStyle]="{ 'border-left': note.is_read ? '5px solid #999' : '5px solid #FDE714' }">
       
        <div class="message">
          <!-- <div>
            <strong class="username">{{ note.user }}</strong>
            <span class="action">{{ note.action }}</span>
          </div> -->
          <div  class="comment" [ngStyle]="{ 'color': note.is_read ? '#999' : 'black' }">{{ note.message }}</div>
        </div>
        <span class="time" [ngStyle]="{ 'color': note.is_read ? '#999' : 'black' }">{{ note.created_at | date: 'dd MMM'}}</span>
      </div>
    </div>
  
    <!-- <div class="footer">
      <a href="#">See all incoming activity</a>
    </div> -->
  </div>
  