<div class="notification-container">
    <div class="header">
      
      <h2>Notifications</h2>
      
    </div>
  
    <div class="notification-list">
      <div *ngFor="let note of notifications" class="notification-item" [ngStyle]="{ 'border-left': note.is_read ? '8px solid grey' : '8px solid #fce72b' }">
       
        <div class="message">
          <!-- <div>
            <strong class="username">{{ note.user }}</strong>
            <span class="action">{{ note.action }}</span>
          </div> -->
          <div  class="comment">{{ note.message }}</div>
        </div>
        <span class="time">{{ note.created_at | date: 'dd MMM yyyy'}}</span>
      </div>
    </div>
  
    <!-- <div class="footer">
      <a href="#">See all incoming activity</a>
    </div> -->
  </div>
  