<div class="update-user-dialog">
    <mat-dialog-content class="mat-dialog-content">
        <div class="content">
            <div class="update-user-header">
                <span>Update user details</span>
            </div>
            <div class="form-container">
                <form [formGroup]="updateUserForm" (ngSubmit)="onUserUpdation()" autocomplete="off">
                    <div class="update-user-section">
                        <div class="user-updation-fields">
                            <div class="left-section">
                                <div class="first-name">
                                    <label for="pwd">First name<span class="asterisk"
                                            *ngIf="(form['firstNameValue'].touched && form['firstNameValue'].invalid) || ((isAllDetailsAvailable === false) && form['firstNameValue'].invalid)">*</span></label>
                                    <input type="text" id="first-name" class="form-control"
                                        formControlName="firstNameValue" name="firstName" required />
                                </div>
                                <div class="email">
                                    <label for="email">Email<span class="asterisk"
                                            *ngIf="(form['emailValue'].touched && form['emailValue'].invalid) || ((isAllDetailsAvailable === false) && form['emailValue'].invalid)">*</span></label>
                                    <input type="text" id="email" class="form-control" formControlName="emailValue"
                                        name="email" readonly />
                                </div>
                                <div class="department">
                                    <label for="department">Department<span class="asterisk"
                                            *ngIf="(form['departmentValue'].touched && form['departmentValue'].invalid) || ((isAllDetailsAvailable === false) && form['departmentValue'].invalid)">*</span></label>
                                    <input type="text" id="department" class="form-control"
                                        formControlName="departmentValue" name="department" required />
                                </div>
                            </div>
                            <div class="right-section">
                                <div class="last-name">
                                    <label for="last-name">Last name<span class="asterisk"
                                            *ngIf="(form['lastNameValue'].touched && form['lastNameValue'].invalid) || ((isAllDetailsAvailable === false) && form['lastNameValue'].invalid)">*</span></label>
                                    <input type="text" id="last-name" class="form-control"
                                        formControlName="lastNameValue" name="lastName" required />
                                </div>
                                <div class="role-dropdown">
                                    <div class="role read-only" #roleDropdown>
                                        <label for="role">Role<span class="asterisk"
                                                *ngIf="(form['roleValue'].touched && form['roleValue'].invalid) || ((isAllDetailsAvailable === false) && form['roleValue'].invalid)">*</span></label>
                                        <select class="role-dropdown-select" id='role' [disabled]="true"
                                            (change)="onRoleOptionChange($event)">
                                            <option value="" disabled selected>
                                                {{roleSelectedOption.name}}</option>
                                            <option *ngFor="let role of roles" [value]="role.name">
                                                {{ role.name }}
                                            </option>
                                        </select>
                                        <div class="dropdown-arrow">
                                            <app-dropdown-arrow-icons
                                                [isOpen]="isRoleDropdownOpen"></app-dropdown-arrow-icons>
                                        </div>
                                    </div>
                                </div>
                                <div class="location-dropdown">
                                    <div class="location" (click)="onLocationDropdownClick()" #locationDropdown>
                                        <label for="location">Location<span class="asterisk"
                                                *ngIf="(form['locationValue'].touched && form['locationValue'].invalid) || ((isAllDetailsAvailable === false) && form['locationValue'].invalid)">*</span>
                                        </label>
                                        <select class="location-dropdown-select" id="'location" name="location"
                                            (change)="onLocationOptionChange($event)">
                                            <option value="" disabled selected>{{locationSelectedOption}}</option>
                                            <option *ngFor="let location of locations" [value]="location">
                                                {{ location }}
                                            </option>
                                        </select>
                                        <div class="dropdown-arrow">
                                            <app-dropdown-arrow-icons
                                                [isOpen]="isLocationDropdownOpen"></app-dropdown-arrow-icons>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-butons">
                            <button mat-dialog-close class="cancel" (click)="onClose()">
                                <span>Cancel</span>
                            </button>
                            <button class="update-user">
                                <span>Update</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-dialog-content>
</div>
