/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  margin: 1px;
  background-color: #FAFAFA;
  transition: all 0.3s ease;
  z-index: 10;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;

  &.active {
    left: 0;
  }

  #logo {
    cursor: pointer;
    width: 100%;
    margin: 43px 0 43px;
  }

  .nav-list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;

    li {
      width: 98%;
      border-radius: 15px;
      transition: background-color 0.3s;
      margin: 4px 2px;

      a {
        width: 100%;
        display: flex;
        padding: 12px 0;
        text-decoration: none;
        text-align: start;

        .icons {
          width: 42px;
          height: 21px;
          padding: 0 10px;
        }

        span {
          color: #515151;
          font-weight: 400;
          line-height: 19.2px;
          letter-spacing: 0;
          display: block;
          width: 100%;
        }
      }

      &.active a {
        background-color: #1D2431;
        border-radius: 15px;
        span {
          color: #FFFFFF;
        }
      }

      &:hover {
        background-color: #1D2431;

        a {
          span {
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

.sidebar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #1D2431;
  border-radius: 10px;
}

/* Responsive: Make sidebar toggleable on mobile */
@media screen and (max-width: 450px) {
  .sidebar {
    height: auto;
    position: absolute;
    overflow: auto;
  }

  .sidebar.active {
    left: 0;
  }
}