.findings-audit-info-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 34px;
    gap: 30px;
    max-width: 100%;
    font-family: 'Apple SD Gothic Neo', sans-serif;

    .parent-navigation-icon {
        cursor: pointer;

        svg:hover {
            path {
                fill: var(--accent)
            }
        }
    }

    .findings-audit-info {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .header-label {
            font-size: 36px;
            font-weight: 700;
            line-height: 100%;
            color: #575757;
        }

        .audit-info-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;
            border: 1px solid #000000;
            background-color: var(--ink);
            color: #FFFFFF;
            gap: 20px;
            border-radius: 15px;
            line-height: 100%;

            .left-section,
            .right-section {
                display: flex;
                flex-direction: column;
                gap: 4px;
                justify-content: center;
            }

            .left-section {
                .audit-info-label {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 100%;
                }

                .audit-title,
                .templates-location-details,
                .function-details {
                    font-size: 20px;
                    font-family: 400;
                    line-height: 100%;
                }

                .location-details {
                    font-size: 14px;
                }

                .templates-location-details .templates-details {
                    padding-bottom: 4px;
                }

                .audit-title {
                    margin-bottom: 12px;
                }
            }

            .right-section {
                text-align: right;

                .date-details {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 100%;
                }

                .time-details {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 100%;
                    margin-bottom: 12px;

                    .end-time {
                        margin-left: 60px;
                    }
                }

                .auditor-label,
                .auditee-label {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 100%;

                    .auditors-value,
                    .auditees-value {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: inline-block;
                        max-width: 200px;
                        vertical-align: top;
                        line-height: normal;
                    }
                }

                .auditor-details {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 100%;
                }
            }
        }

        .audit-scope {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border: 1px solid #000000;
            background-color: var(--ink);
            color: #FFFFFF;
            gap: 10px;
            border-radius: 15px;
            line-height: 100%;

            .audit-scope-label {
                font-size: 20px;
                font-family: 400;
                line-height: 100%;
            }

            .audit-scope-info {
                font-size: 16px;
                font-family: 400;
                line-height: 100%;
            }
        }

        .vertical-bar,
        .hyphen {
            margin: 0 4px;
        }
    }

    .functional-template-question-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        line-height: 100%;
        cursor: pointer;

        .questions-section {
            display: flex;
            flex-direction: row;
            gap: 30px;
            border-radius: 20px;
            border: none;
            background-color: #F9F8F8;
            padding: 20px;
            justify-content: space-between;

            .question-number-and-text {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .progress-badge {
                    padding: 5px;
                    color: black;
                    border-radius: 20px;
                    font-size: 13px;
                    width: 80px;
                    text-align: center;
                }
                .remarks{
                    font-style: italic;
                }
                .progress-badge-green {
                    background: #8bffbb;

                }

                .progress-badge-red {
                    background: #f74b4b;

                }

                .progress-badge-orange {
                    background: #fdb571;

                }
                .question-number {
                    font-size: 20px;
                    font-weight: 700;
                    color: #4E4E4E;
                    line-height: 100%;
                }

                .question-text {
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--muted);
                    line-height: 100%;
                }
            }

            .status {
                min-width: 93px;
                height: 20px;
                padding: 2px;
                border-radius: 6px;
                background-color: var(--accent);
                color: var(--muted);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                span {
                    font-size: 11px;
                    font-weight: 700;
                    text-align: center;
                    line-height: 100%;
                }
            }
        }
    }

    .submit-btn {
        .submit {
            padding: 8px 40px;
            background-color: #000000;
            color: #FFFFFF;
            border-radius: 5px;
            float: right;
        }

        .submit:hover {
            background-color: var(--accent);
            color: black;
            border: 1px solid var(--accent);
        }
        .submit:disabled {
            background-color: #bdbdbd;
            color: black;
            cursor: not-allowed;
            
        }
        .submit:disabled:hover {
            background-color: #bdbdbd;
            color: black;
          
        }
    }
}