.reports {
    max-width: 100%;
    margin: 16px 40px 0 44px;

    .search-dropdown-section {
        max-width: 100%;
        height: 127px;
        display: flex;
        background-color: #1D2431;
        border-radius: 15px;
        border: 1px #000000;
        align-items: center;

        .reports-search-bar {
            position: relative;
            width: 100%;
            height: 44px;
            max-width: 327px;
            margin: 20px;
            font-size: 16px;
            font-family: 'Apple SD Gothic Neo', sans-serif;


            .reports-search-input {
                width: 100%;
                padding: 10px;
                padding-right: 30px;
                /* Space for the close button */
                font-size: 16px;
                color: #000000;
                border: 1px solid #D9D9D9;
                border-radius: 24px;
                outline: none;
            }

            .reports-search-input::placeholder {
                color: #515151;
                /* Set the desired color for the placeholder */
            }


            .reports-search-input:focus {
                border-color: #FFEA00;
                /* Green border on focus */
            }

            .clear-btn {
                position: absolute;
                right: 10px;
                /* Adjust based on your padding */
                top: 50%;
                transform: translateY(-50%);
                background: transparent;
                border: none;
                font-size: 12px;
                cursor: pointer;
                color: #1D2431;
            }

            .clear-btn:hover {
                color: #FFEA00;
            }

        }

    }
}