/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  padding: 0;
}

/* Define the font-family with fallback fonts */
body {
  font-family: 'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 20px !important;
}