.audit-plan-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px;
    margin: 0 0 20px;
    width: 100%;
    font-family: 'Apple SD Gothic Neo', sans-serif;

    .main-content {
        display: flex;
        flex-direction: column;
        flex: 7;

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            width: 100%;
            font-size: 16px;

            .toggle-group {
                display: flex;
                border: 1px solid #ccc;
                border-radius: 32px;
                overflow: hidden;
                width: 75%;
                height: 50px;

                .toggle-button {
                    flex: 1;
                    padding: 10px 20px;
                    border: none;
                    background: white;
                    cursor: pointer;
                    transition: background 0.3s;
                    border-right: 1px solid #cccccc;
                }

                .toggle-button.active {
                    background: #f5f3f3;
                }
            }

            .import-button {
                background-color: #1D2431;
                color: white;
                padding: 8px 20px;
                border-radius: 8px;
                font-size: 16px;
                border: 1px solid #2C2C2C;
                cursor: pointer;
                // margin-right: 12px;
                height: 44px;
                width: 140px;
            }

            .import-button:hover {
                background-color: #FDE714;
                color: #1D2431;
                border-color: #FDE714;
            }

        }

        .form-container {
            margin: 15px 0 0;
            border: 1px solid #d3d3d3;
            border-radius: 15px;
            width: 100%;
            padding: 15px 20px;
            font-size: 16px;

            #start-date-time::-webkit-calendar-picker-indicator {
                cursor: pointer;
            }

            #end-date-time::-webkit-calendar-picker-indicator {
                cursor: pointer;
            }

            select,
            textarea {
                width: 100%;
                height: 50px;
                color: #000000;
                border: 1px solid #dbdbdb;
                border-radius: 6px;
                font-size: 16px;
                padding: 6px;
                cursor: pointer;
                margin-bottom: 10px;
            }

            textarea {
                height: 100px;
                cursor: text;
            }

            .link-audit-row,
            .audit-scope-row {
                display: flex;
                flex-direction: column;
            }

            .audit-title-and-functions-row,
            .templates-row,
            .date-time-row,
            .auditees-auditors-row,
            .city-country-row {
                display: flex;
                flex-direction: row;
                gap: 40px;
            }

            .asterisk{
                color: #ff0000;
            }

            .audit-title-input,
            .audit-function-input {
                font-size: 16px;
                width: 100%;
                height: 50px;
                border: 1px solid #dbdbdb;
                border-radius: 6px;
                padding: 6px 10px;
            }

            .audit-title,
            .functions,
            .template,
            .function-template,
            .start-date-time,
            .end-date-time,
            .auditors,
            .auditees,
            .city,
            .country {
                flex: 1;

                input,
                select {
                    min-height: 50px;
                }
            }

            .auditees-auditors-row {

                .auditor-dropdown-button,
                .auditee-dropdown-button {
                    position: relative;
                    width: 100%;
                    padding: 10px;
                    font-size: 16px;
                    color: #000000;
                    background-color: white;
                    border: 1px solid #dbdbdb;
                    border-radius: 6px;
                    cursor: pointer;
                    text-align: left;
                }

                .auditor-dropdown-options,
                .auditee-dropdown-options {
                    width: 442px;
                    position: absolute;
                    background-color: white;
                    border: 1px solid #dbdbdb;
                    padding: 10px;
                    color: #000000;
                    border-radius: 6px;
                    max-height: 200px;
                    overflow-y: auto;

                    input[type="checkbox"] {
                        margin-right: 10px;
                    }
                }

            }

            .auditeeDropdown,
            .auditorDropdown,
            input {
                margin-bottom: 10px;
            }

            .button-group {
                margin-top: 20px;
                text-align: right;
                min-width: 100%;
            }

            .clear-button {
                background: #ffffff;
                padding: 10px;
                width: 138px;
                height: 44px;
                font-size: 16px;
                border: 1px solid #2C2C2C;
                border-radius: 8px;
                cursor: pointer;
            }

            .clear-button:hover {
                color: #1D2431;
                border-color: #FDE714;
            }

            .create-button {
                background: #000000;
                padding: 10px;
                width: 138px;
                height: 44px;
                font-size: 16px;
                border: 1px solid #2C2C2C;
                border-radius: 8px;
                color: #ffff;
                margin-left: 20px;
                cursor: pointer;
            }

            .create-button:hover {
                background-color: #FDE714;
                color: #1D2431;
                border-color: #FDE714;
            }
        }
    }

    .calendar-and-plans-section {
        flex: 3;
        margin: 0 2px 0px 10px;

        .calendar-section {
            margin: 30px 0;

            .igx-calendar {
                --ig-size: 2;
                // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .26),
                //     0 1px 1px 0 rgba(0, 0, 0, .12),
                //     0 2px 1px -1px rgba(0, 0, 0, .08);
            }

            :host {
                display: flex;
                width: 100%;
                gap: 16px;
                flex-flow: row wrap;
            }

            button {
                margin: 8px 0;
            }

            .calendar-wrapper {
                margin: 8px;
            }
        }

        .audit-information {
            margin: 10px;

            .audit-info-header {
                font-size: 20px;
                font-weight: 700;
                color: #575757;
                line-height: 100%;
                padding-bottom: 10px;
            }

            .audit-plans {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 10px 0;
                height: 318px;

                .plans-list {
                    border: 1px solid #B4B4B4;
                    border-radius: 25px;
                    padding: 10px;
                    min-height: 68px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;

                    .plan-details {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;

                        .date-and-id {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding-right: 10px;
                            border-right: 2px solid #5E5D5D;
                            gap: 4px;

                            .date {
                                font-size: 20px;
                                color: #4E4E4E;
                                font-weight: 400;
                                line-height: 100%;
                            }

                            .id-number {
                                font-size: 16px;
                                color: #4E4E4E;
                                font-weight: 400;
                                line-height: 100%;
                            }
                        }

                        .title-and-auditor {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;

                            .title {
                                font-size: 20px;
                                color: #4E4E4E;
                                font-weight: 400;
                                line-height: 100%;
                            }

                            .auditor {
                                font-size: 16px;
                                color: #4E4E4E;
                                font-weight: 400;
                                line-height: 100%;
                            }
                        }
                    }

                    .edit-icon {
                        position: relative;

                        #vector-icon {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .view-more {
                text-align: end;

                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 100%;
                    cursor: pointer;
                }

                a:hover {
                    text-decoration: underline;
                    color: #FDE714;
                }
            }
        }

    }
}

::ng-deep .igx-calendar__header {
    display: none !important;
}

@media (max-width: 1024px) {
    .main-content {
        flex-direction: column;
    }

    .form-group {
        flex: 1 1 100%;
    }
}

@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .import-button {
        width: 100%;
    }
}