<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="row phy-off-vir">
                <div class="col-3 physical">
                    <span>Physical</span>
                </div>
                <div class="col-3 offline">
                    <span>Offline</span>
                </div>
                <div class="col-3 virtual">
                    <span>Virtual</span>
                </div>
                <div class="col-3 import">
                    <span>Import</span>
                </div>
            </div>
            <div class="row form-container">
                <div class="row">
                    <div class="col-12">
                        <p>Link Audit</p>
                        <select class="dropdown-select">
                            <option>Sample Audit - 1</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Audit Title</p>
                        <select class="dropdown-select">
                            <option>Q1-ISMS</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <p>Functions</p>
                        <select class="dropdown-select">
                            <option>Q1-ISMS-IT</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Template</p>
                        <select class="dropdown-select">
                            <option>Select template..</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <p>Functions Template</p>
                        <select class="dropdown-select">
                            <option>Select template..</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Start Date & Time</p>
                        <div class="start-end-date"></div>
                    </div>
                    <div class="col-6">
                        <p>End Date & Time</p>
                        <div class="start-end-date"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Auditors</p>
                        <select class="dropdown-select">
                            <option>Rooby Crooks</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <p>Auditees</p>
                        <select class="dropdown-select">
                            <option>Marwan Thies</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>City</p>
                        <select class="dropdown-select">
                            <option>Bengaluru</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <p>Country</p>
                        <select class="dropdown-select">
                            <option>India</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 te">
                        <p>Audit Scope</p>
                        <textarea class="audit-scope"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 btn-div">
                        <button class="clear">Clear</button>
                        <button class="create">Create</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-3">
            Calendar section In-progress 
        </div>
    </div>
</div>
