<div class="audit-plan-container">
    <div class="main-content">
        <div class="top-bar">
            <div class="toggle-group">
                <button class="toggle-button active">✔ Physical</button>
                <button class="toggle-button">Offline</button>
                <button class="toggle-button">Virtual</button>
            </div>
            <button class="import-button" *ngIf="isImportVisible" (click)="openImportPlanDialog()">+ Import</button>
        </div>
        <div class="form-container">
            <form [formGroup]="auditPlanForm" (ngSubmit)="onSubmit()">
                <div class="link-audit-row">
                    <div class="link-audit-label">
                        <label for="linkAudit" class="form-label">Parent Audit</label>
                    </div>
                    <div class="link-audit-select">
                        <select id="linkAudit" class="dropdown-select" formControlName="linkAudit" name="linkAudit">
                            <option value="" disabled selected>Select Audit</option>
                            <option *ngFor="let audit of parent_audits" [value]="audit.title">
                                {{audit.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="audit-title-and-functions-row">
                    <div class="audit-title">
                        <label for="audit-title" class="form-label">Audit Title<span class="asterisk">*</span></label>
                        <input id="audit-title" class="audit-title-input" formControlName="auditTitle"
                            name="auditTitle" />
                        <!-- <select id="audit-title" class="dropdown-select" formControlName="auditTitle" name="auditTitle"
                            required>
                            <option value="" disabled selected>Select Audit Title</option>
                            <option *ngFor="let auditTitleOption of availableOptions" [value]="auditTitleOption">
                                {{ auditTitleOption }}</option>
                        </select> -->
                    </div>
                    <div class="functions">
                        <label for="function" class="form-label">Functions<span class="asterisk">*</span></label>
                        <input id="function" class="audit-function-input" formControlName="functions"
                            name="functions" />
                        <!-- <select id="function" class="dropdown-select" formControlName="functions" name="functions"
                            required>
                            <option value="" disabled selected>Select Audit Title</option>
                            <option *ngFor="let functionOption of availableOptions" [value]="functionOption">
                                {{ functionOption }}</option>
                        </select> -->
                    </div>
                </div>
                <div class="templates-row">
                    <div class="dropdown" (click)="toggleDropdown($event)">
                        <label for="templates" class="form-label">Template</label>
                        <div  class="dropbtn">
                            Select templates..
                        </div>
                        <div *ngIf="isAuditorDropdownOpen" class="dropdown-content" #templateDropdown>
                            <label *ngFor="let template of templates" (click)="onCheckboxClick($event)">
                                <input type="checkbox" [value]="template.name"
                                    (change)="onTemplateSelectionChange($event)"
                                    [checked]="selectedTemplate.includes(template)" />
                                <span class="template-value">{{ template.name }}</span>
                            </label>
                        </div>
                    </div>
                    <div class="function-template">
                        <label for="function-templates" class="form-label">Functions Template</label>
                        <select id="function-templates" class="dropdown-select" formControlName="functionTemplateValue"
                            name="functionTemplateValue" required>
                            <option value="" disabled selected>Select template..</option>
                            <option *ngFor="let template of templates" [value]="template.name">
                                {{ template.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="date-time-row">
                    <div class="start-date-time">
                        <label for="start-date-time" class="form-label">Start Date & Time<span
                                class="asterisk">*</span></label>
                        <input type="datetime-local" id="start-date-time" class="form-control"
                            formControlName="startDateTime" name="startDateTime" required />
                    </div>
                    <div class="end-date-time">
                        <label for="end-date-time" class="form-label">End Date & Time<span
                                class="asterisk">*</span></label>
                        <input type="datetime-local" id="end-date-time" class="form-control"
                            formControlName="endDateTime" name="endDateTime" required />
                    </div>
                </div>
                <div class="auditees-auditors-row">
                    <div class="auditors">
                        <label for="auditorDropdown" class="auditor-label">Lead Auditors</label>
                        <!-- <div class="auditorDropdown">
                            <button class="auditor-dropdown-button" type="button" id="auditor-select-dropdown"
                                (click)="toggleDropdown()">
                                Select auditors
                            </button>
                            <div *ngIf="isAuditorDropdownOpen" class="auditor-dropdown-options"
                                formControlName="auditorValue">
                                <div class="auditor-check" *ngFor="let auditorOption of availableOptions">
                                    <label class="auditor-dropdown-option">
                                        <input class="auditor-check-input" type="checkbox" [value]="auditorOption"
                                            (change)="onAuditorSelectionChange($event)" />
                                        {{ auditorOption }}
                                    </label>
                                </div>
                            </div>
                        </div> -->
                        <select id="auditor" class="dropdown-select" formControlName="auditorValue" name="auditorValue"
                            required>
                            <option value="" disabled selected>Select Auditors..</option>
                            <option *ngFor="let auditor of auditors" [value]="auditor.Name">
                                {{ auditor.Name }}</option>
                        </select>
                    </div>
                    <div class="auditees">
                        <label for="auditeeDropdown" class="auditee-label">Auditees</label>
                        <!-- <div class="auditeeDropdown">
                            <button class="auditee-dropdown-button" type="button" id="auditee-select-dropdown">
                                Select auditees
                            </button>
                            <div *ngIf="false" class="auditee-dropdown-options" formControlName="auditeesValue">
                                <div class="auditee-check" *ngFor="let auditeesOption of availableOptions1">
                                    <label class="auditee-dropdown-option">
                                        <input class="auditee-check-input" type="checkbox" [value]="auditeesOption" />
                                        {{ auditeesOption }}
                                    </label>
                                </div>
                            </div>
                        </div> -->
                        <select id="auditee" class="dropdown-select" formControlName="auditeesValue"
                            name="auditeesValue" required>
                            <option value="" disabled selected>Select Auditees..</option>
                            <option *ngFor="let auditee of auditees" [value]="auditee.Name">
                                {{ auditee.Name }}</option>
                        </select>
                    </div>
                </div>
                <div class="city-country-row">
                    <div class="city">
                        <label for="city-name" class="form-label">City</label>
                        <select id="city-name" class="dropdown-select" formControlName="cityName" name="cityName"
                            required>
                            <option value="" disabled selected>Select City</option>
                            <option *ngFor="let cityOption of cities" [value]="cityOption">
                                {{ cityOption}}</option>
                        </select>
                    </div>
                    <div class="country">
                        <label for="country-name" class="form-label">Country</label>
                        <select id="country-name" class="dropdown-select" formControlName="countryName"
                            name="countryName" required>
                            <option value="" disabled selected>Select Country</option>
                            <option *ngFor="let countryOption of countries" [value]="countryOption">
                                {{ countryOption }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="audit-scope-row">
                    <div class="audit-scope-label">
                        <label for="audit-scope" class="form-label">Audit Scope<span class="asterisk">*</span></label>
                    </div>
                    <div class="auditscope-textarea">
                        <textarea id="audit-scope" class="audit-scope-textarea" rows="4"
                            formControlName="auditScopeValue" name="audit_scope" required></textarea>
                    </div>
                </div>
                <div class="button-group">
                    <button class="clear-button" (click)="onClearForm()">Clear</button>
                    <button class="create-button">Create</button>
                </div>
            </form>
        </div>
    </div>
    <div class="calendar-and-plans-section">
        <div class="calendar-section">
            <article class="calendar-wrapper">
                <igx-calendar (selected)="onSelection($event)" selection="single"
                    [(ngModel)]="selectedDate"></igx-calendar>
            </article>
        </div>
        <div class="audit-information">
            <span class="audit-info-header">Planned audits</span>
            <div class="audit-plans">
                <div class="plans-list" *ngFor="let plan of auditPlans">
                <!-- <div class="plans-list" *ngFor="let plan of (showAllPlans ? auditPlans : auditPlans.slice(0, 4))"> -->
                    <div class="plan-details">
                        <div class="date-and-id">
                            <div class="date"><span>{{plan.start_date | date: 'dd MMM'}}</span></div>
                            <div class="id-number"><span>{{plan.audit_id}}</span></div>
                        </div>
                        <div class="title-and-auditor">
                            <div class="title"><span>{{plan.audit_title}}</span></div>
                            <div class="auditor">
                                <span *ngIf="plan.auditors.length===1">{{plan.auditors[0]}}</span>
                                <span *ngIf="plan.auditors.length>1">{{plan.auditors[0]}} and more</span>
                            </div>
                        </div>
                    </div>
                    <div class="edit-icon" (click)="openEditPlanDialog(plan)">
                        <img src="../assets/images/Ellipse.png" alt="Ellipse" id="ellipse-icon" />
                        <img src="../assets/images/Vector.png" alt="Vector" id="vector-icon" />
                    </div>
                </div>
            </div>
            <!-- <div class="view-more" *ngIf="!showAllPlans"><a (click)="navigateToAuditPerform()">View More...</a></div> -->
        </div>
    </div>
</div>